body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: #b0aac0;
    padding: 50px;
    font-size: 120%;
}

div#content {
    padding: 25px;
    background-color: #c2d4dd;
    height: 80vh;
    margin: 20px;
}

#content, img {
    border: 20px solid #f0efef;
}

h1, h2, h3 {
    font-family: "Courier New", monospace;
}

.text {
  margin:20px;
  background-color: #ddeedd;
  width: 300px;

}

img {
    float: right;
    width: 500px;
    height: auto;
    margin: 20px;
}

img:hover {
    width: 650px;
    height:auto;
}

span {
    text-decoration: underline;
}

a {
    text-decoration: none;
    color: seashell;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}
