body {
    font-family: Helvetica, Verdana, Arial, "san serif";
    background-color: #667292;
    padding: 50px;
    font-size: 120%;
}

div#content {
    padding: 25px;
    background-color: #f1e3dd;
    height: auto;
}

#content {
    border: 20px solid #bccad6;
    border-style: outset;
    border-radius: 10px;
}

div {
  display: block;
}

h1{
    font-family: 'Fredericka the Great', cursive;
    text-transform: full-width;
}

h2 {
  font-family: 'Forum', cursive;
  font-variant: small-caps;
}

.text {
  margin: 20px;
  background-color: #8d9db6;
  width: inherit;
  color: #f0f0f0;

}

p {
  font-family: 'Arsenal', sans-serif;

}

img {
    width: 300px;
    height: auto;
    margin: 20px;
}

span {
    text-decoration: underline;
    text-decoration-style: double;
}

a {
    text-decoration: none;
    color: seashell;
}

a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}
